@import "variables";

[data-component="card-component"] {
  .card {
    border: 2px solid $clr-dark-blue;
    height: fit-content;
    width: fit-content;
    max-width: 200px;
    min-height: 25rem;
    padding: 1rem 0.7rem;
    margin: 1.5rem 2rem;
    transition: 0.4s;
    display: inline-block;
    text-align: center;
    position: relative;

    .image {
      width: 150px;
      height: 150px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: auto;
    }

    .id {

    }

    .title {

    }

    .favourite {
      color: $clr-dark-blue;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 5%;
    }

    .favouriteSelected {
      color: red;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 5%;
    }
  }

  .card:hover {
    transform: scale(1.2);
    border: 2px solid $clr-dark-orange;
  }
}
